{% extends 'base.html.twig' %}

{% block title %}
    <h1>Kontakt</h1>
{% endblock %}

{% block content %}
    <p>Bei Fragen betreffend Urheberrechte und Verwendung der Daten wenden sie sich bitte an den Herausgeber, <a href="mailto:pfister@hist.unibe.ch">Prof. em. Dr. Christian Pfister</a></p>
    <p>Technische Fragen können an <a href="mailto:mathias.stocker@ub.unibe.ch">Mathias Stocker</a> gerichtet werden.</p>
    <p>
        BERNHIST ist ein Bestandteil von <a href="http://www.digibern.ch" target="_blank">DIGIBERN</a>.	Fragen zu Digibern sind an
        <a href="mailto:christian.luethi@ub.unibe.ch">Christian Lüthi</a> zu richten.
    </p>
{% endblock %}