{% extends 'base.html.twig' %}

{% block title %}
    <h1>Kontakt</h1>
{% endblock %}

{% block content %}
    <p>Bei Fragen betreffend Urheberrechte und Verwendung der Daten wenden sie sich bitte an den Herausgeber, <a href="mailto:pfister@hist.unibe.ch">Prof. em. Dr. Christian Pfister</a></p>
    <p>Fragen zur Struktur der Datenbank, zur Applikation und zur Programmierung können an <a href="mailto:serge.meyer@gmx.net">lic. phil. Serge Meyer</a> gerichtet werden</p>
    <p>Bei technischen Störungen wenden sie sich bitte an den <a href="http://www.ub.unibe.ch/content/ueber_uns/ansprechpersonen/kontakt/index_ger.html?namid=412">Webmaster</a>.</p>
    <p>
        BERNHIST ist ein Bestandteil von <a href="http://www.digibern.ch" target="_blank">DIGIBERN</a>.	Fragen zu Digibern sind an
        <a href="mailto:christian.luethi@ub.unibe.ch">Christian Lüthi</a> zu richten.
    </p>
{% endblock %}