{% extends 'base.html.twig' %}

{% block title %}
    <h1>Was ist BERNHIST</h1>
{% endblock %}

{% block content %}
<h4>Statistische Methoden in Geschichte und Landeskunde</h4>
<p>
    Unter &quot;moderner Stadtgeschichte&quot; versteht Bruno Fritzsche	die Anwendung moderner Methoden auf die Untersuchung der Stadtentwicklung seit dem Umbruch der
    Französischen Revolution. Dabei handelt es sich im wesentlichen um die Übernahme von Ansätzen aus der Soziologie, der Ökonomie und der Geographie bezogen auf die Stadt und ihr
    Umland. Dies verlangt meistens die Erhebung statistischer Daten. Häufig lassen sich nicht alle erforderlichen Daten für den gewählten Zeitraum mit einem vertretbaren Aufwand
    beschaffen. In der Folge muss die Problemstellung aus arbeitsökonomischen Gründen eingegrenzt werden. Die gängige Forderung der Sozial- und Wirtschaftsgeschichte, die
    Wechselwirkungen, Zusammenhänge und Abhängigkeiten zwischen ökonomischen, demographischen, institutionellen und politischen Prozessen transparent zu machen, kann damit nicht
    eingelöst werden. Mehr noch: Die im Rahmen von Einzelarbeiten erhobenen Daten stehen Dritten für weitere Untersuchungen	nicht zur Verfügung, weil eine Struktur fehlt, die
    solches Material aufnimmt und in geeigneter Form erschliesst. Von der Datenbeschaffung her fängt damit jede Arbeit im Grunde genommen bei Null an. Wohl gibt es mittlerweile
    Datenarchive, welche einmal erhobene Datenbestände für Folgeauswertungen zur Verfügung halten. Aber einmal verwalten sie nur einen Bruchteil der tatsächlich erhobenen Daten.
    Im weiteren ist ein Überblick schwer zu gewinnen, und die Einarbeitung in einzelne Datenbestände kostet einen erheblichen Aufwand.
    <br />
    Eine Datenbank sollte flächendeckende Schlüsseldaten für eine möglichst grosse Zahl von potentiell bedeutsamen Untersuchungsfeldern aufbereiten und in benutzerfreundlicher
    Form zur Verfügung stellen. Im Idealfall müsste eine Datenbank <em><historische Statistik></em> alle Stufen der Aggregation vom Individuum über das Haus, das Dorf oder die
    Strasse, das (Stadt)Viertel, die Gemeinde, den Bezirk und die Länder bis zum gesamten Staatswesen enthalten, wobei auf den höheren Aggregations- ebenen auch Daten zu finden
    sein sollten, die sich auf Lebensverhältnisse wie Klima, Bodenbeschaffenheit, Flächennutzung, Preise, Löhne u.a.m. beziehen.
</p>
<h4>Das Konzept des historisch-geographischen Informationssystems BERNHIST</h4>
<p>
    Eine Datenbank, die diesen Kriterien teilweise entspricht, ist für den Schweizer Kanton Bern in den letzten zehn Jahren geschaffen worden: Die relationale Datenbank BERNHIST
    enthält derzeit rund 1,5 Millionen so genannte Entitäten, Schlüsseldaten aus den Bereichen Bevölkerung, Wirtschaft, Umwelt, Politik für den Zeitraum von 1700 bis zur
    Gegenwart. Sie ist nur auf fünf hierarchischen Raumebenen - Gesamtkanton, Landesteil, Bezirk, Kirchgemeinde, Gemeinde - angeordnet, was für viele Problemstellungen der
    modernen Stadtgeschichte ausreicht. Die beiden untersten von Sieglerschmidt angeregten Ebenen der Individuen und der Haushalte wurden aus Rücksicht auf andere Zielsetzungen
    wie Kosteneffizienz, Bedienungsfreundlichkeit, Belegung von Speicherplatz und Geschwindigkeit des Datentransfers weggelassen. Die Abfrage ist über Internet möglich. Im
    folgenden wird BERNHIST kurz vorgestellt und gezeigt, in welcher Weise	die Datenbank bisher für die stadt- und ortsgeschichtliche Forschung fruchtbar gemacht worden ist.
    <br />
    Entsprechend der dreidimensionalen Grundstruktur von Daten in historischstatistischen Quellen wurden drei Teilbereiche oder Achsen unterschieden.
</p>
<ul>
    <li>Raum: Geographischer Bezugsort.</li>
    <li>Thema: Inhaltliche Aussage, die dem Wert zugeordnet ist.</li>
    <li>Zeit: Zeitpunkte oder Zeitintervalle die mit dem Wert korrespondieren.</li>
</ul>
<p>
    Jeder Beobachtungswert in der Datenbank BERNHIST kann den drei Achsen Raum, Thema und Zeit zugeordnet werden. Dank dieser Charakterisierung jedes einzelnen Datenpunktes kann
    relativ schnell und gezielt auf die in der Datenbank enthaltenen Daten zugegriffen werden. Das Suchergebnis erscheint jeweils in Form einer Tabelle. Die Daten des
    Suchergebnisses können nun je nach Bedarf als MS Excel-Datei heruntergeladen, als PDF exportiert oder als einfache Grafik dargestellt werden.
</p>
<h4>Literatur zu BERNHIST</h4>
<p>
    Im Rahmen der folgenden beiden Publikationen wurden umfängliche	Datenbestände aus BERNHIST ausgewertet und interpretiert:
</p>
<ul>
    <li>
        Pfister, Christian. (1995): Im Strom der Modernisierung. Bevölkerung, Wirtschaft und Umwelt im Kanton Bern (1700-1914). Geschichte des Kantons Bern seit 1798, Bd. 4. Bern.
    </li>
    <li>
        Pfister, Christian; Egli, Hans-Rudolf [Hg.] (1998): Historisch-Statistischer Atlas des Kantons Bern 1750-1995. Umwelt, Bevölkerung, Wirtschaft, Politik. Historischer
        Verein des Kantons Bern. Bern.
    </li>
</ul>
{% endblock %}