parameters:
    bootstrapFiles:
        - tests/bootstrap.php
    symfony:
        containerXmlPath: var/cache/dev/App_KernelDevDebugContainer.xml
        constantHassers: false
    level: 8
    paths:
        - src
        - tests
includes:
	- phar://phpstan.phar/conf/bleedingEdge.neon
