.notice {
	color:red;
	font-weight:bold;
}

a,:visited {
	color:#004a80;
	text-decoration:none;
}

body {
	border:none;
	padding:0px;
	margin-left:30px;
	width:850px;	/* Leave space to suppress horizontal scrollbar, see http://noscope.com/journal/2004/02/ie-horizontal-scrollbar-bug */
					/* Iframe width - 16 pixels */
}

th  {
	text-align:left;
}